table, th,td
{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    padding: 5px;
    width: 500px;
    margin:0 auto;
}

th{
    text-align: center; 
    font-family: Arial;
    font-style:  bold;
    background-color: rgb(6, 6, 68);
    color:white;
}

tr:nth-child(even)
{
    background-color: #f1faee;
    font-family:Arial;
    font-style:normal;
}
tr:nth-child(odd)
{
    background-color: rgb(181, 233, 216);
    font-family: Arial;
    font-style: normal;
}
caption
{
    text-align: center;
    font-family: Arial;
    font-style: bold;
    font-size:50px;
    line-height: 70px;
    padding:1px;
}