body
{
    background-color: yellowgreen;
}
h1{
    color:brown;
}
.about-of
{
    border: 5px solid brown;
    background-color: salmon;
    text-align: center;
    font-family: Arial;
    font-style: bold;
}
.text-about
{
    border: 2px solid brown;
    margin-left: 200px;
    margin-right: 25px;
    font-family:Helvetica;
    font-style:normal;
    text-align:justify;
    color:brown;
}
.return-start
{
    font-family:Arial;
    font-style: bold;
    text-align:left;
    color:blue;
}


