body
{
    background-color: yellowgreen;
}
h1{
    color:aquamarine;
}
.about-of
{
    background-color: brown;
    text-align: center;
    font-family: Arial;
    font-style: bold;
}
.text-about
{
    font-family:Helvetica;
    font-style:normal;
    text-align:justify;
    color:brown;
}


