body{
    background-color: yellowgreen;  
}
.title
{
    background-color:brown;
    color:aquamarine;   
}

a:link,a:visited{
    border:2px solid brown;
    background-color: salmon;
    margin-left:200px;
    margin-right:50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:15px;
    color:brown;
    font-family: Arial;
    text-decoration: none;
}
a:hover, a:active 
{
    background-color: rgb(250, 151, 65);
    color:brown;
}